name: source
on:
   workflow_call:
    inputs:
      customer:
        type: string
        required: true
      environment:
        type: string
        required: true
      awsRegion:
        type: string
        required: true

   workflow_dispatch:
    inputs:
      customer:
        description: 'Customer name'
        required: true
        type: choice
        default: hansel
        options:
          - bsn-alpha
          - cor
          - demo
          - hansel
          - matilda
          - ppmi
          - ppmi-alpha
          - rchmg
          - rchmg-alpha
          - sherlock
          - sny
          - security
      environment:
        description: 'Environment'
        required: true
        type: environment
      awsRegion:
        description: 'AWS Region'
        required: true
        default: us-east-1
        type: choice
        options:
          - us-east-1
          - eu-central-1
    
jobs:
  test:
    name: "Testjob"
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Hello ${{ inputs.customer }} - ${{ inputs.environment }}"
          echo "Region: ${{ inputs.awsRegion }}"
      
      - name: SaveRegion
        run: |
          echo "region=${{ inputs.awsRegion }}" > ./outputs
      
      - uses: actions/upload-artifact@v3
        with:
          name: outputs
          path: ./